HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
 
 
# Django stuff:
*.log
local_settings.py
db.sqlite3
.svn
.git.
.gitee
.github
 
# Eclipse
.project
.classpath
.settings/
 
 
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
 
# Maven
target/
 
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
 
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/
 
### VS Code ###
.vscode/
.vs/
.trae/
.history/
# Log file
*.log
log/
logs/
 
# others
*.zip
*.tar
*.tar.gz
*.pid
*.orig
temp/